{% load static tailwind_tags %}
<html lang="en">
<head>
    {% tailwind_css %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@100;400;700&display=swap" rel="stylesheet">

    <style>
        * {
           font-family: "Fraunces", serif;
        }
    </style>
</head>
<body class="bg-black text-white">
    <div class="container mx-auto px-4">
      {% block main %}
      <!-- Content will be injected here -->
      {% endblock %}
    </div>

    {% if debug %}
    <script src="http://127.0.0.1:8000/__reload__/reload.js"></script>
    {% endif %}
</body>
</html>
