{% extends 'base.html' %}
{% load static %}

{% block main %}
    <!-- Hero Section -->
    <section class="bg-cover bg-center" style="background-image: url('{% static 'images/360_F_692679692_SeQDy50ZrWDWs2Jy.jpg' %}'); height: 65vh  ; background-size: cover;">
        <div class="container mx-auto h-full flex flex-col justify-center items-center text-center">
            <h1 class="text-5xl text-black font-bold">HealMind</h1>
            <p class="mt-4 text-2xl text-black">ตรวจสุขภาพจิตของคุณ</p>
            <p class="mt-2 text-black">คุณจะไม่เป็นไรจริงๆ เชื่อเรา! ทำได้เพียงแค่คุณเดินไปข้างหน้า</p>
        </div>s
    </section>

    <!-- Icon Section -->
   <section class="bg-purple-100 py-4">
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
            <a href="{% url 'select_questions' %}">
                <div class="bg-purple-200 p-4 rounded-lg shadow-md text-center hover:bg-purple-300 transition">
                    <img src="{% static 'images/search.png' %}" alt="icon1" class="mx-auto mb-2" style="height: 80px; width: 80px;">
                    <h3 class="text-lg font-semibold mb-2">ทำแบบทดสอบ</h3>
                </div>
            </a>
            <a href="{% url 'article:article_list' %}">
            <div class="bg-purple-200 p-4 rounded-lg shadow-md text-center hover:bg-purple-300 transition">
                <img src="{% static 'images/book.png' %}" alt="icon2" class="mx-auto mb-2" style="height: 80px; width: 80px;">
                <h3 class="text-lg font-semibold mb-2">ความรู้</h3>
            </div>
            </a>
            <a href="{% url 'doctor_list' %}">
                <div class="bg-purple-200 p-4 rounded-lg shadow-md text-center hover:bg-purple-300 transition">
                    <img src="{% static 'images/protection.png' %}" alt="icon3" class="mx-auto mb-2" style="height: 80px; width: 80px;">
                    <h3 class="text-lg font-semibold mb-2">ติดต่อปรึกษาแพทย์</h3>
                </div>
            </a>
        </div>
    </section>
{% endblock %}